:root {
  --brand-color: #2196f3;
  --main-font-color: #212121;
  --second-font-color: #757575;
  --second-background-color: #2f303a;
  --white-font-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  color: var(--main-font-color);
}

.header-item,
.nav-item,
.button-item,
.about-list,
.todo-list,
.ourteam-list,
.footer-list,
.list {
  list-style: none;
}

.portfolio-btn,
.hero-button {
  cursor: pointer;
}
/* --------------------HEADER------------------------ */

.header {
  background-color: var(--white-font-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.logo-second-word {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
.header-item .link:hover,
.header-item .link:focus,
.nav-item .link:hover,
.nav-item .link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.link.active {
  color: var(--brand-color);
}

.nav-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-font-color);
}

/* --------------------HERO------------------------ */
.hero-title {
  background-color: var(--second-background-color);
  color: var(--white-font-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  background-color: var(--brand-color);
  color: var(--white-font-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* --------------------About------------------------ */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
}

/* --------------------What we do------------------------ */

.todo-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --------------------Our team------------------------ */
.ourteam-sec {
  background-color: #f5f4fa;
}
.ourteam-main-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.ourteam-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.ourteam-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
}

/* --------------------Footer------------------------ */

.link {
  text-decoration: none;
}

.footer {
  background-color: var(--second-background-color);
}

.logo-secword-footer {
  color: var(--white-font-color);
}

.footer-adress-item .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
}

.footer-item .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------------Portfolio------------------------ */

.portfolio-btn {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-btn:hover {
  background: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
}
